<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h3>About This App</h3>
                    <p>This is a todo list, to keep track of tasks</p>
                    <p>Made using node, express, ejs</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h5>Lots to do!</h5>
                    <p>Remember, just do your best, take a deep breathe, and enjoy the journey</p>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>